.banner{
    height: 30vh;
    width: 100%;
    background-image: url(../images/fondo2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat
}

.nav {
    margin-left: auto;
}

.nav-link {
    color: #ffffff !important;
}


li{
    font-size: 30px;
}


#sect2{
    background-color:  #f8f0e5;
}


.sect3{
    padding-bottom: 60px;
}

i{
    font-size: 60px;
}

footer{
    width: 100%;
    background-image: url(../images/fondo2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat
}